[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
kubernetes = "*"
kazoo = "*"
configobj = "*"
tensorflow = "*"
gym = "*"

[dev-packages]
autopep8 = "*"
sklearn = "*"
pandas = "*"
mypy = "*"
matplotlib = "*"
keras = "*"
numpy = "*"
pydocstyle = "*"
scipy = "*"
pylint = "*"
jedi = "*"
rope = "*"
gym = "*"
stable-baselines3 = "*"
seaborn = "*"

[requires]
python_version = "3.8.5"
