[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
kubernetes = "*"
kazoo = "*"

[dev-packages]
autopep8 = "*"
keras = "*"
sklearn = "*"

[requires]
python_version = "3.8"