astroid==2.4.2
autopep8==1.5.4
bidict==0.21.2
blinker==1.4
cachetools==4.1.1
certifi==2020.11.8
chardet==3.0.4
click==7.1.2
cycler==0.10.0
elo==0.1.1
Flask==1.1.2
Flask-Cors==3.0.10
Flask-Dance==3.3.0
Flask-Login==0.5.0
Flask-SocketIO==5.0.1
Flask-SQLAlchemy==2.4.4
google-auth==1.23.0
h5py==3.1.0
idna==2.10
isort==5.6.4
itsdangerous==1.1.0
Jinja2==2.11.3
joblib==0.17.0
Keras==2.4.3
kiwisolver==1.3.1
kubernetes==12.0.1
lazy-object-proxy==1.4.3
MarkupSafe==1.1.1
matplotlib==3.3.3
mccabe==0.6.1
mypy==0.812
mypy-extensions==0.4.3
numpy==1.19.4
oauthlib==3.1.0
packaging==20.4
pandas==1.1.5
Pillow==8.0.1
pip-review==1.1.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycodestyle==2.6.0
pylint==2.6.0
pylint-flask-sqlalchemy==0.2.0
pyparsing==2.4.7
PyQt5==5.15.2
PyQt5-sip==12.8.1
PyQt6==6.0.3
PyQt6-sip==13.0.1
python-dateutil==2.8.1
python-engineio==4.0.1
python-socketio==5.1.0
pytz==2020.4
PyYAML==5.3.1
pyzmq==20.0.0
requests==2.25.0
requests-oauthlib==1.3.0
rope==0.18.0
rsa==4.6
scikit-learn==0.23.2
scipy==1.5.4
seaborn==0.11.0
sip==6.0.3
six==1.15.0
sklearn==0.0
SQLAlchemy==1.3.23
SQLAlchemy-Utils==0.36.8
threadpoolctl==2.1.0
toml==0.10.2
typed-ast==1.4.2
typing-extensions==3.7.4.3
urllib3==1.26.2
URLObject==2.4.3
webgme-bindings==1.0.4
websocket-client==0.57.0
Werkzeug==1.0.1
wrapt==1.12.1
zmq==0.0.0
